<br/><br/>
<p>about works!</p>
<!-- <br/><br/>
<p>about works!</p>
<br/><br/>
<h3 appBold>Tuổi: {{age | number:'0.2'|currency}}</h3>
<br/><br/>
<button (click)="tangTuoi()">Tăng tuổi</button> -->

<!-- <br/><br/>
<h1>Chào bạn {{name}} </h1>
<br/><br/>
<h1>comments {{comments|json}} </h1>
<br/><br/>

<h1>comment[0]: <span *ngIf="comments"> {{comments[0]|json}}</span>  </h1>
<br/><br/> -->

<!-- <h1>posts:{{posts ?.length}} </h1>

<br/><br/> -->

<!-- <div *ngFor="let post of posts">
    <li>{{post|json}}</li>
</div> -->

<!-- <br/><br/>
<button (click)="addPost()">Thêm post mới</button>



<br/><br/>

<table id="customers">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
    </tr>
    <tr *ngFor="let post of posts">
      <td>{{post?.id}}</td>
      <td>{{post?.title}}</td>
      <td>{{post?.author}}</td>
    </tr>
  </table>

  <br/><br/>
  <h1>Notification Button</h1>

<a href="#" class="notification">
  <span>Inbox</span>
  <span class="badge">{{posts ?.length}}</span>
</a> -->