



<p>home works!</p>
<!-- <h3>Chao bạn {{name | uppercase}}</h3>
<h3>Tuổi: {{age | number:'0.2'|currency}}</h3>

<span class="underAge" *ngIf="age<18">Bạn dưới 18 tuổi</span>
<br/>
<span class="bestAge" *ngIf="age==18">Bạn == 18 tuổi</span>
<br/>
<span class="overAge" *ngIf="age>18">Bạn trên 18 tuổi</span>

<span class="overAge" *ngIf="age<18; then condition1 else condition2"></span> 

<ng-template #condition1 class="underAge"><span appBold>Bạn dưới 18 tuổi</span></ng-template>
<ng-template #condition2 class="underAge"><span appBold>Bạn tren 18 tuổi</span></ng-template>
<br/><br/>

<input [(ngModel)]="name"/>

<br/><br/>

<button (click)="tangTuoi()">Tăng tuổi</button>

<br/><br/>
Danh sách xe: 
<br/><br/>
<div *ngFor="let item of vehicles">
    <li>{{item}}</li>
</div>

<br/>
<div>
    <select >
        <option *ngFor="let item of vehicles">{{item}}</option>
    </select>
</div>


<br/><br/>
<span>{{vehicles | json}}</span>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
 -->
